<h1>Lista de Combis</h1>

<% combi= Combi.all %>

	<% combi.each do |c| %>
		<% if !(c.eliminado) %>
			<div><%=c.patente%>--<%=c.plazas_totales%>
			<%=link_to "Editar", edit_combi_path(c)%>
			<%=link_to "eliminar", c,method: :delete%>
			</div>
		<%end%>
	<%end%>