<h1>Paso 2</h1>

<h3>Comprar pasaje adicional</h3>

<p>Datos del acompañante:</p>


<%= link_to "Agregar invitado", crearinvitado_usuario_path, remote: true, method: :get, class: "btn btn-primary" %>

