<h1>Te olvidaste algo en un viaje?</h1>
<p>Si te olvidaste algo en un viaje manda un mail a serviciocombi19@gmail.com indicando que objeto perdiste y en que viaje fue. Luego nos pondremos en contacto con usted para ver si el objeto fue encontrado en la combi</p>

<%= link_to "Volver", usuario_index_path %>