<%if usuario_signed_in? && current_usuario.role == "admin" %>
<h1>Editar Viaje</h1>

<%= render 'form', viaje: @viaje %>

<%= link_to 'Detalles del viaje', @viaje %> |
<%= link_to 'Atras', viajes_path %>
<%end%>