
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CONFIRMACION DE COMPRA</title>
  </head>
  <body>
    <div>
      <p>Hola,</p>
      <p>Se ha confirmado la compra de tu pasaje!</p>
      <p>Gracias!</p>
    </div>
  </body>
