<h1>Agregar Ruta</h1>

<%= form_for :ruta do |r| %>
<div class="field">
    <%= r.label "Ingrese nombre de la ruta:" %><br />
    <%= r.text_field :nombre, autofocus: true, required: true %>
</div>



